{% extends 'general/components/base.html' %}
{% load crispy_forms_tags %}
{% block site_title %} Change Password {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div>
    <p><h5> Change Password for {{ user.username |capfirst}} </h5></p>

    <form action="{% url 'password_change' %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form |crispy}}

        <p>
            <button class="button button-primary" type="submit">save</button>
        </p>

    </form>
  </div>
</section>
{% endblock %}