{% extends 'home/base.html' %}

{% block site_title %}New Password - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    {% if validlink %}
      <h3 class="content-title">New Password</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-field">
          <button class="button button-primary" type="submit">Confirm</button>
        </div>
      </form>
    {% else %}
      <h3 class="content-title">The link is invalid.</h3>
      <p>This may be expired or has already been used.</p>
      <p>
        <a class="button button-primary" href="{% url 'home' %}">Home</a>
      </p>
    {% endif %}
  </div>
</section>
{% endblock %}
