{% extends 'home/base.html' %}

{% block site_title %}Forget Password {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">Forget Password</h3>
    <p>The system will send you an email with instructions on how to set a new password.</p>
    <form action="{% url 'password_reset' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-field">
        <button class="button button-primary" type="submit">Confirm</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
